/**  Mobile size Views  **/
@media only screen and (max-width: 219px) {
	body,	html {
		width: 140%;
	}

	.home-info {
		margin-left: 30px;
	}

	.tittle-logo	{
	    display: none;
	}

	.logo {
		visibility: hidden;
	}

	.thumbnail-content {
		border-style: solid;
		border-width: 1px 0px 1px  0px;
		border-color: white;	
	}

	.authentication {
		display: none;
		width: 18em;
		padding: 20px 15px 20px 15px;
	}

	.authentication-container	{
		visibility: hidden;
		display: none;
	}

	.parallax-2 .tittle h1	{
		font-size: 25px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.home-info-container {
		background: rgba(0,0,0, 0);
	}

	.info-username	{
		text-align: center;
	}
}

@media only screen and (max-width: 125px) {
	body, html {
		width: 200%;
	}
}