{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="dashboard-content">
		<div class="side-dashboard-opened" id="side-dashboard">
			<div class="side-dashboard-container-opened max-width" id="side-dashboard-container">
				<!-- 
				<a href="{% url 'edit_account' %}">Ajustes de Cuenta</a>
				<a href="{% url 'edit_user_password' %}">Cambiar Contraseña</a>
				<a href="{% url 'logout' %}">Salir</a>
				-->
				<div class="row margin-left-10 max-width  padding-bottom-50 padding-top-20">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
								<img alt="Brand" src="{% static "assets/images/logo.png" %}" class="logo-dashboard img-responsive">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
								<h5 class="side-dashboard-tittle-logo text-align-center max-width">¡ Bienvenido !</h5>
							</div>
						</div>
						
					</div>
				</div>

				<div class="row margin-left-10 max-width padding-bottom-30 padding-top-30">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-20">
						<a href="#xx" class="link-dashboard-side max-width display-block">
							<img src="" class="img-circle display-inline" id="avatar-perfil" />
							<i class="fa fa-user-circle-o avatar-perfil display-inline" aria-hidden="true" id="avatar-perfil"></i>
							<label class=" side-dashboard-option display-inline margin-left-10">PacoFlaco</label>
						</a>
					</div>
				</div>

				<div class="row margin-left-10 row-side-dashboard max-width padding-bottom-10 padding-top-10">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-20">
						<a href="#xx" class="link-dashboard-side max-width display-block">
							<i class="fa fa-map-o display-inline" aria-hidden="true" id="browse-icon"></i>
							<label class=" side-dashboard-option display-inline margin-left-10">Explora</label>
						</a>
					</div>
				</div>

				<div class="row margin-left-10 row-side-dashboard max-width padding-bottom-10 padding-top-10">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-20">
						<a href="#xx" class="link-dashboard-side max-width display-block">
							<i class="fa fa-credit-card-alt display-inline" aria-hidden="true" id="credit-icon"></i>
							<label class=" side-dashboard-option display-inline margin-left-10">Pagos</label>
						</a>
					</div>
				</div>

				
				<!-- 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 max-width"> -->
				<div class="row margin-left-10 max-height max-width padding-top-10">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justified max-width">
						<label class="recently-search">Busquedas recientes</label>
					</div>
				</div>
				<div class="row margin-left-10 max-height max-width">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-20 max-width">
						<div class="row max-width">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 max-width">
								<label class="recently-search-items text-justified max-width">
									Fracc. Balcones de Oriente, Machupicchu 311 int. 23, Aguascalientes, Aguascalientes
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-left-10 max-height max-width">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-20 max-width">
						<div class="row max-width">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 max-width">
								<label class="recently-search-items text-justified max-width">
									Fracc. Balcones de Oriente, Machupicchu 311 int. 23, Aguascalientes, Aguascalientes
								</label>
							</div>
						</div>
					</div>
				</div>
			<!-- 	</div>
				</div> -->
			</div>
			<div class="side-dashboard-lash" id="side-dashboard-lash" onclick="dashboard.ui.manageSide();">
				<i class="fa fa-angle-double-right" id="direction-icnon-sidelash" aria-hidden="true"></i>
			</div>
		</div>
		<div class="map-content" id="map-content">
			<div id="map" class="max-width map">
			</div>
		</div>
	</div>
{% endblock %}