{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="dashboard-content">
	    {%  include "dashboard/templates/left_side_bar.html"  %}
	    {%  include "dashboard/templates/right-side.html"  %}
	    {%  include "dashboard/templates/map.html"  %}
	</div>
{% endblock %}

{% block extrajsfile  %}
	<script src="{% static "assets/javascript/app/dashboard.js" %}"></script>
	<script src="{% static "assets/javascript/app/services.js" %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEfsw-09eCt56vqd1M6ySFYTkmXsYtRU"></script>
{% endblock  %}