{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Ajuste de Cuenta</h1>
<div class="class_container_form">
		<form method="post" action="">
			{% csrf_token %}

			{% include "includes/_forms.html" with form=form_user %}
			{% include "includes/_forms.html" with form=form_perfil %}		

			<button class="" type="submit" name="action">Actualizar
		  </button>
		</form>
	</div>