/*	CSS Files app	*/
@import	url('app/margin.css');
@import	url('app/padding.css');
@import	url('app/width.css');

@import	url('app/mobile/mobile-size-small.css');
@import	url('app/mobile/mobile-size-small-medium.css');
@import	url('app/mobile/mobile-size-medium-medium.css');
@import	url('app/mobile/mobile-size-large.css');
@import	url('app/mobile/mobile-size-large-medium.css');

/* Fonts */
/*	@import url('fonts/Permanent_Marker/PermanentMarker.ttf'); */
@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('fonts/Gloria_Hallelujah/GloriaHallelujah.ttf');
}

@font-face {
    font-family: 'Indie Flower';
    src: url('fonts/Indie_Flower/IndieFlower.ttf');
}

@font-face {
    font-family: 'Clicker Script';
    src: url('fonts/Clicker_Script/ClickerScript-Regular.ttf');
}
/** Helper Clesses CSS **/
.text-align-center	{
	text-align:	center;
}

.text-bold	{
	font-weight: 		bold;
}

.float-right	{
	float:				right;
}

.float-left	{
	float:				left;
}

.display-none	{
	display:	none;
}

.display-block	{
	display:	block;
}

.display-inline	{
	display:	inline;
}

.display-inline-block	{
	display:	inline-block;
}

.logo	{
	width:	50px;
	height: 50px;
}

.tittle-logo	{
	font-family: 'Clicker Script', cursive;
    color:  #eceeef;
}

.parallax {

    /* Create the parallax scrolling effect */
    background-attachment:	fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
	text-align: center;
    height: 100%; 
	background-image: url('../images/handshake.jpg');
}

.parallax-1	{
	text-align: right;
	padding-right: 50px;
	background-image: url('../images/cleaning-tyre.jpg');
}

body, html {
    height: 100%;
}

.header-nav{
	position: fixed;
    z-index: 100000;
	width: 100%;
}

.authentication {
	background: #292b2c!important;
	border-radius: 0em 1em 0em 1em;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	font-size: 16px;
}

.container-index	{
	height: 100%;
	align-items: center;
}

.control-label {
	font-size: 12px;
}

.btn-createaccout-sumbit	{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	background: white;
	color:	gray;
	border-color: gray;	
	border-width: 2px;
}

.btn-createaccout-sumbit:hover	{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	background: white;
	color:	gray;
	border-color: gray;	
	border-width: 3px;
	cursor: pointer;
}

.tab-content	{
	background-color: #fff;
	border-radius: 0em 1em 0em 1em;
	border: solid;
	border-width: 0em 1px 1px 1px;
	border-color: #ddd;
	text-align: center;
}

.tab-pane	{
	text-align: center;
}

.text-invitation	{
	margin-top: 5px;
	text-align: center;
	font-size: 16px;
}

.btn-comenzar-sumbit {
	background: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
}

.btn-comenzar-sumbit:hover {
	background: orange;
	cursor: pointer;
	border-width: 2px;
	font-family: 'Indie Flower', cursive;
}

.nav	{
	border-style: none;
}

.nav-item	{
	border-radius: 0em 0em 1em 1em;
}

.nav-link	{
	color: gray;
}

.nav-link:hover	{
	color: white;
}

/* all */
::-webkit-input-placeholder { font-family: 'Indie Flower', cursive; }
::-moz-placeholder { font-family: 'Indie Flower', cursive; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Indie Flower', cursive; } /* ie */
input:-moz-placeholder { font-family: 'Indie Flower', cursive; }

.form-controll	input:-moz-placeholder{
	font-family: 'Indie Flower', cursive;
}

.serices-tab	{
	color: white;
	background: #292b2c!important;
	text-align: center;
}

.serices-tab-business	{
	background: white;
	color: #292b2c!important;
	text-align: center;	
}

.thumbnails-tittle	{
	display: block;
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
}

.thumbnails-text	{
	font-size: 14px;
	text-align: justify;
}

.fa.fa-globe.thumbnails-icon		{
	color: white;
	font-size: 170px;
	display: block;
}

.fa.fa-money.thumbnails-icon		{
	color: white;
	font-size: 170px;
	display: block;
}

.fa.fa-clock-o.thumbnails-icon		{
	color: white;
	font-size: 170px;
	display: block;
}

.fa.fa-briefcase.thumbnails-icon		{
	color: #292b2c!important;
	font-size: 170px;
	display: block;
}

.fa.fa-line-chart.thumbnails-icon		{
	color: #292b2c!important;
	font-size: 170px;
	display: block;
}

.thumbnail-content	{
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer-nav	{
	background: #292b2c!important;
	color: white;
}

.social-icon-list {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.social-icon	{
	width: 34px;
	height: 34px;
	border-style: solid;
	border-width: 3px;
	border-radius: 30px;
	padding:	1px;
	color: #00CED1;
	cursor: pointer;
	display: inline-block;
}

.social-icon:hover	{
	color: #FEF65B;
	display: inline-block;
}

.fa.fa-map-marker{
	color: #00CED1;
	display: inline-block;
}

.fa.fa-phone	{
	color: #00CED1;
	display: inline-block;
}

.fa.fa-envelope	{
	color: #00CED1;
	display: inline-block;
}

.footer-link	{
	color: #00CED1;
	display: inline-block;
}

.single	{
	text-align: justify;
}

.about-us	{
	text-align: justify;
}

.parallax-2 .tittle {
	height: 100%
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}