{% load static %}

<div class="right-side-opened display-inline-block right-dashboard-width" id="right-side-opened">
	<div class="right-dashboard-width max-width user-settings-container max-height display-inline-block" id="user-settings-container">
		<div class="row max-width margin-top-20">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 max-width">
				<i class="fa fa-window-close-o close-section" onclick="dashboard.ui.closeRightSection();" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row max-width margin-top-20">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 max-width text-align-center">
				<div class="image-profile-dashboard-containter padding-10 display-inline-block">
					<img src="" class="image-profile-dashboard" />
					<i class="fa fa-user-circle-o avatar-profile" aria-hidden="true"></i>
				</div>
			</div>
			<div class=" col-lg-7 max-width">
				aaaaaaaaaaaaaaa
			</div>
		</div>
		<div class="row max-width">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 max-width">
				<i class="fa fa-sign-out close-session" aria-hidden="true">&nbspCerrar Sessión</i>
			</div>
		</div>
	</div>
	<div class="max-width right-dashboard-width payment-settings-container max-height display-none" 
		id="payment-settings-container">
		PAGOS
	</div>
</div>