/*	CSS Files app	*/
@import	url('app/margin.css');
@import	url('app/padding.css');
@import	url('app/width.css');

/* Fonts */
/*@import url('fonts/Gloria_Hallelujah/GloriaHallelujah.ttf');
@import url('fonts/Indie_Flower/IndieFlower.ttf');
@import url('fonts/Permanent_Marker/PermanentMarker.ttf');*/
/*@import url('fonts/Clicker_Script/ClickerScript-Regular.ttf');*/

@font-face {
    font-family: 'Clicker Script';
    src: url('fonts/Clicker_Script/ClickerScript-Regular.ttf');
}
/** Helper Clesses CSS **/
.text-align-center	{
	text-align:	center;
}

.text-bold	{
	font-weight: 		bold;
}

.float-right	{
	float:				right;
}

.float-left	{
	float:				left;
}

.display-none	{
	display:	none;
}

.display-block	{
	display:	block;
}

.display-inline{
	display:	inline-block;
}

.logo{
	width:	50px;
	height: 50px;
	margin-left: 1em;
	margin-left: 1em;
}

.tittle-logo	{
	font-family: 'Clicker Script', cursive;
	font-size: 2em;
    color:  #eceeef;
    margin-left: 1em;
}


@media only screen and (max-width: 219px) {
	.tittle-logo	{
	    display: none;
	}

	.logo {
		visibility: hidden;
	}
}

@media only screen and (min-width: 220px) and (max-width : 299px) {
	.tittle-logo	{
		display: none;
	}

	.logo {
		margin-left: 0em;
	}
}

@media only screen and (min-width: 300px) and (max-width : 412px) {
	.tittle-logo	{
	    display: none;
	}

	.logo {
		margin-left: 0.25em;
	}
}

@media only screen and (min-width: 413px) and (max-width : 990px) {
	.tittle-logo	{
	    font-size: 0.9em;
	    display: block;
	    margin-left: 0em;
	}

	.logo {
		margin-left: 0.45em;
	}
}